{
    "printWidth": 160,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.md", "*.yaml", "*.json", "*.js", "*.ts", "*.tsx"],
            "options": {
                "tabWidth": 4,
                "useTabs": true
            }
        }
    ]
}
